@font-face {
	font-family: TwCen;
	src: url(../fonts/TwCenMTStd-Bold.otf);
	font-weight: bold;
}
body {
	font-family: TwCen, Arial, Helvetica, sans-serif;
	font-size: 45px;
	color: white;
}


.image, .person {
	display: inline-block;
}


.image img {
	height: 3em
}

.function {
	color: rgba(255, 255, 255, 0.65)
}

.lower-thirds {
	transition: all ease 1s;
	position: absolute;
}

.lower-thirds.animateIn {
	left: 0;
}

.lower-thirds.animateOut {
	left: -100vw;
}